body{
    background-image: linear-gradient(to right, #34EB68 0%, #34EB7D 100%);
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    left: 5%;
    height: 20%;
    flex-wrap: wrap;
}

.header img{
    width: 80px;
    height: 80px;
}

.header ul{
    display: flex;
    list-style: none;
}

.header ul li{
    margin: 7px;
    color: #F9F9F1;
    /* border: 1px solid black; */
    border-radius: 10px;
    align-self: center;
    width: 90px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    background-image: linear-gradient(to right, #32A4A8 0%, #328DA8 100%);   
}
